{% extends 'base.html' %}

{% block content %}
  <article>
    <p>
      Pas besoin de te prendre la tête avec la grille de Sudoku. Prends juste ton téléphone, clique sur une photo de la grille et laisse <strong>sudokuAPP</strong> faire le boulot.
    </p>
    <p>Allez, prends une photo de ta grille de Sudoku et tu vas voir, notre appli se charge de tout, en pondant une solution en un clin d'œil.</p>
    <p>Vas-y, transforme ton expérience du Sudoku avec notre appli ! Tu vas voir, c'est du lourd !</p>
  </article>
  <h1 class="text-xl font-medium text-primary">1. Choisis une photo</h1>
  <section>
    <div class="flex flex-row justify-evently">
      {% comment %}Handle case where there are no images{% endcomment %}
      {% if items %}
      <div class="w-1/6 content-center flex justify-end">
        {% include 'partials/load-image.html' %}
      </div>
      <div class="content-center w-16 flex justify-center">
        <div class="my-2 text-primary content-center">OU</div>
      </div>
      {% endif %}
      <div class="step-container content-center w-1/3">
        {% include 'partials/upload-image.html' %}
      </div>
    </div>
  </section>

  <section class="step-container">
    <h1>2. Initialise la grille</h1>
    {% if object %}
      {% include 'board/process.html' %}
    {% else %}
      <p>Aucune image n'est chargée pour le moment.</p>
    {% endif %}
  </section>

  <section class="step-container">
    <h1>3. Obtiens la solution</h1>
    <div id="board">
      {% include 'board/solve-board.html' %}
    </div>
    <div>
      <input class="btn btn-primary" type="button" value="Résoudre" hx-get="{% url 'app:hx-solve-board' object.pk %}" hx-target="#board" hx-swap="outerHTML" />
    </div>
  </section>
{% endblock %}
