{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="hero flex-grow" style="background-image: url({% static 'images/home.jpg' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-xl">
        <h1 class="mb-5 text-5xl font-bold">Bienvenue</h1>
        <article class="mb-5 text-pretty">
          <p>
            Pas besoin de te prendre la tête avec la grille de Sudoku. Prends juste ton téléphone, clique sur une photo de la grille et laisse <strong class="text-primary">sudokuAPP</strong> faire le boulot.
          </p>
          <p>Allez, prends une photo de ta grille de Sudoku et tu vas voir, notre appli se charge de tout, en pondant une solution en un clin d'œil.</p>
          <p>Vas-y, transforme ton expérience du Sudoku avec notre appli ! Tu vas voir, c'est du lourd !</p>
        </article>
        <a class="btn btn-primary" href="{% url 'app:get-started' %}">C´est parti</a>
      </div>
    </div>
  </div>
{% endblock %}
