<div id="imageProcessing">
    {% if image %}
        <nav>
            <ul>
                <li>

                    <a hx-get="{% url 'app:plot-image' image.pk %}"
                       hx-target="#plotImage"
                       hx-trigger="click"
                       hx-swap="innerHTML">Image sans modification</a>
                </li>
                <li>
                    <a hx-get="{% url 'app:plot-image' image.pk %}?color=gray"
                       hx-target="#plotImage"
                       hx-trigger="click"
                       hx-swap="innerHTML">Image noir & blanc</a>

                </li>
            </ul>
        </nav>
        <div id="plotImage"></div>
    {% else %}
        <p>Aucune image chargé pour le moment</p>
    {% endif %}
</div>
