<div id="imageProcessing">
    {% if image %}
        <nav>
            <ul>
                <li><a hx-get="{% url 'app:plot-image' image.pk %}"
                       hx-target="#image-container"
                       hx-trigger="click"
                       hx-swap="innerHTML">Montrer l´image</a></li>
                <li><a hx-get="{% url 'app:plot-image' image.pk %}?step=gray"
                       hx-target="#image-container"
                       hx-trigger="click"
                       hx-swap="innerHTML">Griser l´image</a></li>
                <li><a hx-get="{% url 'app:plot-image' image.pk %}?step=find-contours"
                       hx-target="#image-container"
                       hx-trigger="click"
                       hx-swap="innerHTML">Détecter contours dans l´image</a></li>
                <li><a hx-get="{% url 'app:plot-image' image.pk %}?step=reshape"
                       hx-target="#image-container"
                       hx-trigger="click"
                       hx-swap="innerHTML">Redresser l´image</a></li>
                <li><a hx-get="{% url 'app:plot-image' image.pk %}?step=remove-contrast"
                       hx-target="#image-container"
                       hx-trigger="click"
                       hx-swap="innerHTML">Améliorer les contrastes</a></li>
            </ul>
        </nav>
        <div id="image-container"></div>
    {% else %}
        <p>Aucune image n'est chargée pour le moment.</p>
    {% endif %}
</div>
