{% load custom_app_tags %}

<td id="cell-{{ cell.pk }}">
    <img src="data:image/png;base64, {{ cell.uri }}" alt="cell-{{ cell.pk }}">
    <p>
        <span class="frozenBoardElt" style="display: block;">
            {% if cell.predicted_value != None %}
                {{ cell.predicted_value }}
            {% endif %}
        </span>
        <span class="editBoardElt" style="display: none;">
            <select
            name="cellValue{{ cell.col }}-{{ cell.row }}" 
            hx-post="{% url "app:hx-save-cell" cell.pk %}" 
            hx-trigger="change" 
            hx-target="#cell-{{ cell.pk}}"
            hx-swap="outerHTML">
                <option selected></option>
                {% for i in 1|to:9 %}
                <option 
                value="{{ i }}" 
                {% if cell.predicted_value == i %}selected{% endif %}>
                    {{ i }}
                </option>
                {% endfor %}
            </select>
        </span>
    </p>
</td>
