{% extends 'app/index.html' %}
{% load static %}

{% block app_content %}
  <div class="grid grid-cols-4 bg-white py-2 border-2" onclick="activateTab(event)">
    <div role="tablist" class="tabs tabs-bordered">
      <a role="tab" class="tab tab-active text-primary" hx-get="{% url 'app:hx-add-image' %}" hx-swap="outerHTML" hx-target="#selection-container">Nouvelle image</a>
      <a role="tab" class="tab text-primary" hx-get="{% url 'app:hx-list-images' %}" hx-swap="innerHTML" hx-target="#selection-container">Charger image existante</a>
    </div>
  </div>

  <!-- section for loading Sudoku image -->
  <div class="growable-flex-container" id="selection-container">
    {% include 'app/upload-container.html' %}
  </div>

  <script src="{% static 'js/selection.js' %}" defer></script>
{% endblock %}
