{% load custom_app_tags %}
{% load static %}
<script src="{% static 'js/board.js' %}" defer></script>

<div id="imageProcessing">
  <nav>
    <ul>
      <li>
        <a hx-get="{% url 'app:display-original' %}" hx-target="#image-container" hx-trigger="click" hx-swap="innerHTML">Montrer l´image</a>
      </li>
      <li>
        <a hx-get="{% url 'app:display-grayscale' %}" hx-target="#image-container" hx-trigger="click" hx-swap="innerHTML">Griser l´image</a>
      </li>
      <li>
        <a hx-get="{% url 'app:display-contours' %}" hx-target="#image-container" hx-trigger="click" hx-swap="innerHTML">Détecter contours dans l´image</a>
      </li>
      <li>
        <a hx-get="{% url 'app:display-warp' %}" hx-target="#image-container" hx-trigger="click" hx-swap="innerHTML">Redresser l´image</a>
      </li>
      <li>
        <a hx-get="{% url 'app:display-constrast' %}" hx-target="#image-container" hx-trigger="click" hx-swap="innerHTML">Améliorer les contrastes</a>
      </li>
    </ul>
  </nav>

  <div id="image-container"></div>
</div>
<form action="{% url 'app:extract-board' %}" method="get">
  <button type="submit">Extraire la grille</button>
</form>

<!-- 9x9 Table with each cell including 'app.partial.board-cell.html' -->
{% if cells %}
  <table>
    {% for cell in cells %}
      {% include 'board/partials/board-cell.html' with cell=cell %}
    {% endfor %}
  </table>
{% endif %}

<!-- Single Toggle Button Outside the Table -->
<button class="editBoard">Modifier</button>
<button class="saveBoard">Sauvegarder</button>

