<form method="post" action="{% url 'app:upload' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    {{ form.photo.label_tag }} {{ form.photo }}
    <button type="submit" class="file-input file-input-bordered w-full max-w-xs">Charger une nouvelle image</button>
  </div>
</form>
{% if form.errors %}
  <div class="alert alert-danger">
    <ul>
      {% for field in form %}
        <!-- This is how to iterate on each field of the form -->
        {% for error in field.errors %}
          <!-- This will display each error of every field -->
          <li>
            <strong>{{ field.label }}:</strong> {{ error }}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
