{% if form.errors %}
  <div class="alert alert-error">
    <ul>
      {% for field in form %}
        <!-- This is how to iterate on each field of the form -->
        {% for error in field.errors %}
          <!-- This will display each error of every field -->
          <li>
            <strong>{{ field.label }}:</strong> {{ error }}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="pl-6">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="form-control w-full file-input-primary max-w-xl">
      <div class="label">
        <span class="label-text text-lg">Sélectionne sur ton appareil une image de grille de sudoku à analyser.</span>
      </div>
      {{ form.photo }}
      <div class="label">

        <span class="label-text-alt">fichiers accepté: jpg, png</span>
        <button type="submit" class="btn btn-sm btn-primary">Charger</button>
      </div>
    </label>
  </form>
</div>
